@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap');


:root {
    /* Brand Colors */
    --brand-green-dark: #2D8A44;
    --brand-green: #40B25C;
    --brand-green-light: #53CC71;
    --brand-gray-light: #E1E7FA;
    --brand-brown-dark: #80351D;
    --brand-orange-dark: #E36305;
    --brand-orange: #FF8861;
    --brand-orange-light: #FFA688;

    /* Feedback Colors */
    --feedback-red: #E63737;
    --feedback-pink-light: #F6CBCB;
    --feedback-yellow: #FFEA7D;
    --feedback-light: #FFFFD8;
    --feedback-green: #008F00;
    --feedback-green-light: #DAF4CD;

    /* Neutral Colors */
    --neutral-black: #030303;
    --neutral-black-light: #40464D;
    --neutral-gray-dark: #9FA3A6;
    --neutral-gray: #CFD1D2;
    --neutral-gray-light: #E9E9E9;
    --neutral-white: #FFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


button {
    border: none;
    border-radius: 4px;
}

*:focus {
    outline: none;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container {
    margin: 0 32px 0 32px;
}

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--neutral-gray-light);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--neutral-gray);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--neutral-gray-dark);
}


/* Header */
.header {
    margin-top: 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.input {
    display: flex;
    align-items: center;
    position: relative;
}

.header-input input{
    width: 55vw;  
    height: 48px; 
    border: 1px solid var(--neutral-gray-dark);
    border-radius: 4px;
    outline: none;
}

.header-input input {
    padding-left: 20px;
    color: var(--neutral-black);
    font-size: 16px;
}

.header-input img {
    position: absolute;
    right: 0;
    margin-right: 27px;
    cursor: pointer;
}

.header-box-user,
.header-box-heart {
    padding: 16px;
    margin-right: 9px;
}

.header-box-bag {
    margin: 16px;
}

.header-box-user p,
.header-box-heart p {
    margin-left: 11px;
    text-transform: uppercase;
    color: var(--neutral-black);
    font-weight: 700;
    font-size: 12px;
}

.header-box-bag {
    position: relative;
}

.header-box-bag::before {
    content: '0';
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 1px 7px 1px 7px;
    color: var(--neutral-white);
    background-color: var(--brand-orange-dark);
    border-radius: 14px;
    font-weight: 500;
}

/* Menu */

.navbar ul {
    background-color: var(--neutral-black);
    list-style: none;
}

.navbar li {
    margin: 14px 32px 14px 0;
    list-style: none;
}

.navbar li:nth-last-child(1){
    margin-right: 0;
}

.navbar li a {
    color: var(--neutral-white);
    font-size: 14px;
    font-weight: 500;
}

.breadcrumb {
    margin-top: 12px;
    margin-bottom: 12px;
}

.breadcrumb p{
    font-size: 12px;
    font-weight: 500;
    color: var(--neutral-black-light);
}

.breadcrumb span {
    color: var(--neutral-gray-dark);
    font-weight: 600;
    margin: auto 10px;
}

.breadcrumb strong {
    color: var(--brand-orange-dark);
}

/* Products */

.products{
    margin-bottom: 48px;
}

.products-image > p {
    text-align: center;
    font-size: 14px;
    padding-bottom: 5px;
    color: var(--neutral-black-light);
}

.products-text > span {
    color: var(--brand-green);
    font-weight: 600;
    font-size: 12px;
    text-transform: capitalize;
}

.products-text > p {
    color: var(--neutral-black);
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}

.products-text-description {
    margin: 16px 0 24px 0;
}

.products-text-description > span {
    color: var(--neutral-black-light);
    font-size: 12px;
    font-weight: 500;
}

.products-text-description > p {
    color: var(--brand-green);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.products-text-options-1 > p {
    color: var(--neutral-black-light);
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.products-text-options-1 > p span{
    color: var(--neutral-black);
    font-weight: 600;
}

.options-color {
    margin-bottom: 24px;
}

.options-color img{
    margin-right: 10px;
    cursor: pointer;
}

.options-color img:nth-last-child(1) {
    margin-right: 0;
}

.options-size > p {
    color: var(--neutral-black);
    font-size: 14px;
    font-weight: 600;
}

.options-screen-size {
    margin: 10px 0 52px 0;
}

.options-screen-size p {
    border: 1px solid var(--neutral-gray);
    border-radius: 4px;
    padding: 12px 24px;
    margin-right: 12px;
    font-weight: 600;

    cursor: pointer;
}

.options-screen-size p:nth-last-child(1) {
    margin-right: 0;
}

.options-screen-size .disable {
    background-color: var(--neutral-gray-light);
    color: var(--neutral-gray-dark);
    border: 1px solid var(--neutral-gray-light);
}

.options-shipping {
    border: 1px solid var(--neutral-gray-light);
    padding: 24px 32px;
}

.shipping-icon {
    margin-right: 34px;
}

.shipping-text > strong {
    font-size: 14px;
    color: var(--neutral-black);
}

.shipping-text > p {
    color: var(--neutral-black-light);
    font-size: 12px;
    font-weight: 500;
    margin: 4px 0 8px 0;
}

.shipping-text > span {
    color: var(--brand-green);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.products-text-options-2 {
    border: 1px solid var(--neutral-gray-light);
    padding: 24px;
}

.products-text-options-2 > h2 {
    color: var(--neutral-black);
}

.options-price {
    margin: 4px 0 24px 0;
}

.options-price > p {
    text-decoration: line-through;
    color: var(--neutral-gray-dark);
    font-size: 14px;
}

.options-price > strong {
    margin-left: 7px;
    padding: 0px 4px;
    color: var(--feedback-red);
    background-color: var(--feedback-pink-light);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.options-count-text {
    padding: 14px 12px;
    border: 1px solid var(--neutral-gray-dark);
    border-radius: 4px;
    margin-right: 30px;
    margin-bottom: 16px;
}

.options-count-text img {
    cursor: pointer;
}

.options-count-text h3 {
    margin: 0 24px;
}

.count-buy > span {
    color: var(--feedback-red);
    font-size: 12px;
    font-weight: 600;
}

.count-buy > p {
    color: var(--neutral-black);
    font-size: 12px;
    font-weight: 600;
}

.btn button a {
    color: var(--neutral-white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.btn-cart {
    margin-bottom: 8px;
    width: 100%;
    padding: 16px 0;

    background-color: var(--brand-green);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.btn-container {
    width: 100%;
    padding: 13px 0;

    background-color: var(--brand-orange-dark);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.btn-container > a {
    margin-left: 15px;
}

.btn-cart:hover,
.btn-container:hover {
    opacity: .9;
}

.shippend-text{
    font-size: 12px;
    font-weight: 500;
    color: var(--neutral-black-light);
    text-align: center;
    margin-top: 24px;
}

.shippend-text > strong {
    color: var(--neutral-black);
}

/* Customers Product */
.customers-one,
.customers-two {
    position: relative;
}

.customers-one .arrow-left,
.customers-two .arrow-left {
    position: absolute;
    left: 0;
    top: 50%;

    cursor: pointer;
    z-index: 100;
} 

.customers-one .arrow-right,
.customers-two .arrow-right{
    position: absolute;
    right: 0;
    top: 50%;

    cursor: pointer;
    z-index: 100;
}

.customers-product-description {
    margin-bottom: 16px;
}

.customers-product-description p {
    font-weight: 600;
    font-size: 20px;
    color: var(--neutral-black);
}

.customers-product-description span {
    color: var(--brand-green);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-transform: uppercase;
}

.customers-product-container{
    position: relative;
    padding: 16px
}

.discount-customers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: absolute;
    top: 0;
}

.discount-customers > span {
    padding: 2px 4px;
    color: var(--neutral-white);
    background-color: var(--feedback-red);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;

    margin-bottom: 2px;
}

.discount-customers > strong {
    padding: 2px 4px;
    color: var(--feedback-red);
    background-color: var(--feedback-pink-light);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
}

.customers-product-container {
    margin-right: 16px;
}

.customers-product-container:nth-last-child(1) {
    margin-right: 0;
}

.customers-product-container > h4 {
    font-size: 14px;
    font-weight: 400;
    color: var(--neutral-black);
}

.customers-product-container > p {
    text-decoration: line-through;
    color: var(--neutral-gray-dark);
    font-size: 12px;
    font-weight: 500;
    margin: 12px 0 4px 0;
}

.customers-product-container > h3 {
    font-weight: 600;
    font-size: 20px;
    color: var(--neutral-black);
    margin-bottom: 4px;
}

.customers-product-container > span {
    font-size: 14px;
    color: var(--neutral-black-light);
}

.customers-two {
    margin-top: 64px;
}

/* Departments */
.departments {
    margin-top: 64px;
    position: relative;
}

.departments > img {
    width: 100%;
}

.arrow-departments img {
    position: absolute;
    top: 50%;
}

.arrow-left-departaments {
    position: absolute;
    left: 0;
    margin-left: 16px;

    cursor: pointer;
}

.arrow-right-departaments {
    position: absolute;
    right: 0;
    margin-right: 16px;

    cursor: pointer;
}


.about > h3 {
    color: var(--neutral-black);
    margin: 46px 0 24px 0;
    font-size: 20px;
    font-weight: 600;
    
}

.about > strong {
    font-size: 12px;
}

.about > p {
    margin: 24px 0;
    font-size: 12px;
    max-width: 60%;
    line-height: 16px;
}

.about ul {
    margin-left: 15px;
}

.about ul li {
    font-size: 12px;
    margin-bottom: 8px;
}

.about p > a {
    color: #4f66a4;
}


/* Newsletter */

.newsletter {
    background-color: var(--brand-green);
    padding: 32px 138px;
}

.newsletter h1 {
    color: var(--neutral-white);
    margin-right: 64px;
}


.newsletter-form-input {
    position: relative;
}

.newsletter-form input {
    height: 48px;
    width: 30vw;
    border-radius: 4px;
    border: none;
    padding-left: 60px;
    font-size: 16px;
}

.newsletter-form img {
    position: absolute;
    left: 0;
    padding: 8px 13px;
}

.newsletter-form button {
    padding: 17px 32px;
    margin-left: 16px;
    background-color: var(--brand-orange-dark);
    color: var(--neutral-white);
    text-transform: uppercase;
    font-weight: 600;
}

/* Footer */
footer {
    background-color: var(--neutral-black);
    padding-top: 48px;
    padding-bottom: 52px;
}

.footer {
    display: flex;
}

.footer-text-container {
    display: flex;
}

.footer-section h5 {
    color: var(--neutral-white);
    font-size: 14px;
    margin-bottom: 22px;
}

.footer-text p {
    color: var(--neutral-gray);
    font-size: 14px;
    margin-bottom: 14px;
    margin-right: 16px;
    width: 216px;
}

.footer-btn {
    margin-top: 48px;
    margin-left: 74px;
}

.footer-btn a {
    padding-left: 11px;
    color: var(--neutral-white);
    font-weight: 700;
    text-transform: uppercase;
}

.footer-btn-1,
.footer-btn-2 {
    padding: 12px 120px;
    border-radius: 4px;   

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer-btn-1 {
    background-color: var(--brand-green);
    margin-bottom: 16px;
}

.footer-btn-2 {
    background-color: var(--brand-orange-dark);
    margin-bottom: 24px;
}

.footer-btn span {
    font-size: 14px;
    color: var(--neutral-gray);

    display: flex;
    justify-content: center;
}

.divisor-footer {
    display: block;
    margin: 46px auto 63px auto;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 64px;
}


.footer-icon-social {
    margin-right: 200px;
}

.footer-icon-social img {
    padding-right: 32px;
}

.footer-icon-social img:nth-last-child(1) {
    padding-right: 0;
}

.footer-reserverd > strong,
.footer-reserverd > p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 12px;
}

.footer-reserverd > strong {
    color: var(--neutral-white);
}

.footer-reserverd > p {
    color: var(--neutral-gray);
    padding: 12px 174px 28px 174px;
}

.footer-companies p {
    color: var(--neutral-gray);
    font-size: 12px;
}

.footer-companies-vtex > img {
    margin: 0 24px 0 12px;
}

.footer-companies-b8one > img {
    margin-left: 8px;
}